@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
*{
  margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Tiny5", sans-serif; */
}

.App {
  height: 100vh;
  background-image: url("./images/background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}